.flipCounter {
	position: relative;
	height: 40px;
	width: auto;
	-webkit-perspective: 300px;
	-moz-perspective: 300px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
}

.flipCounter .flipper {
	position: absolute;
	display: block;
	width: 32px;
	height: 40px;
	box-sizing: border-box;
	text-align: center;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transition: -moz-transform 0.2s linear;
	-moz-transition: -moz-transform 0.2s linear;
}

.flipper .face {
	position: absolute;
	display: block;
	background-color: #121212;
	border-radius: 4px;
	color: white;
	padding: 2px 0px;
	top: 0px;
	left: 0px;
	width: 32px;
	height: 40px;
	box-sizing: border-box;
	-webkit-backface-visibility: hidden;
	-webkit-background-clip: padding-box;
	-webkit-box-reflect: below 3px -webkit-gradient(linear, left top, left bottom, color-stop(100%,rgba(255,255,255,.2)), color-stop(65%,rgba(255,255,255,0)));
	/*-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);*/
	-moz-backface-visibility: hidden;
	-moz-background-clip: padding-box;
}

.flipper .value {
	display: block;
	/* Not supported in older WebKit...*/
	background: -webkit-gradient(linear, left 20%, left 90%, from(#fff), to(#999));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	font-size: 36px;
	line-height: 36px;
	font-weight: normal;
	text-align: center;
	width: 32px;
	height: 36px;
	box-sizing: border-box;
	font-family: "DejaVu Sans", "Helvetica Neue", helvetica, arial, sans-serif;
}

.flipper .face.a {

}

.flipper .face.b {
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
}

.flipper.flipped {
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
}
