html {
	background-color: rgba(34,175,176,1.0);
	background: -webkit-linear-gradient(top, rgba(104,144,173,1) 0%,rgba(102,126,153,1) 100%) no-repeat center center fixed;
	background: -moz-linear-gradient(top, rgba(104,144,173,1) 0%,rgba(102,126,153,1) 100%) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	font-family:  "DejaVu Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 10px;
	background: none;
}

header {
	margin: 10px 0;
	display: flex;
	flex-direction: row;
}

footer {
	clear: both;
	color: white;
	font-size: 10px;
	text-align: right;
	margin: 10px 20px;
}

h1 {
    color: white;
    font-family: inherit;
    font-weight: 500;
	margin: 0.2em 0;
	font-size: 1.5em;
    text-rendering: optimizelegibility;
    flex-grow: 1;
}

a {
	color: #BEE6F0;
	text-decoration: none;
}

input {
	border: none;
	border-bottom: 2px solid #666;
	background: none;
	padding-bottom: 2px;
}

input:focus {
	border-bottom: 4px solid #fce94f;
	padding-bottom: 0px;
}

button {
	background-color: #fce94f;
	border: none;
	min-width: 4em;
}

button:disabled {
	background-color: #666;
	opacity: 0.5;
}
