body {
	font-family: 'Helvetica Neue',sans-serif;
}

h1 {
	font-size: 13pt;
}

h2 {
	font-size: 12pt;
	text-align: left;
	font-weight: normal;
	margin-left: 20px;
}

h3 {
	font-size: 10pt;
	margin-top: 0;
	margin-bottom: 4pt;
}

#logo {
	position: absolute;
	top: 0;
	right: 0;
	width: 160px;
	height: 50px;
}

#right-margin {
	position: absolute;
	top: 80px;
	right: 20px;
	width: 140px;
	height: auto;
	font-size: 10pt;
}

#right-margin > div:first-child {
	/*border-top: 1px solid rgb(32,32,32);*/
	margin-bottom: 12pt;
}

#readings > div {
	margin-bottom: 2pt;
}

#readings span.unit {
	color: #666;
}

#source-labels {
	padding-top: 2pt;
}

#source-labels td.swatch {
	margin: 2px;
	width: 10px;
	height: 10px;
}

#source-labels td.desc {
	font-size: 10px;
	margin: 2px;
}

div.chart-container {
	margin-left: 20px;
}

svg {
	/*background-color: rgb(242,242,242);*/
}

.chart {
	font-size: 10px;
}

.crisp {
	shape-rendering: crispEdges;
}

.chart rect {
	fill-opacity: 0.8;
}

.chart text {
	fill: black;
}

.chart g.data text,
.chart g.agg text {
	text-anchor: middle;
}

.chart g.agg text {
	font-weight: bold;
}

.chart g.rule line {
	stroke: #ccc;
}

.chart path.area {
	fill-opacity: 0.8;
}

.chart path.line {
  fill: none;
}

.chart line.axis {
	stroke: black;
}

.chart g.rule g:first-child line {
	stroke: black !important;
}

