html {
	background-color: rgba(34,175,176,1.0);
	background: -webkit-linear-gradient(top, rgba(104,144,173,1) 0%,rgba(102,126,153,1) 100%) no-repeat center center fixed; 
	background: -moz-linear-gradient(top, rgba(104,144,173,1) 0%,rgba(102,126,153,1) 100%) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	font-family:  "DejaVu Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 20px 10px;
	background: none;
}

h1, h2, h3 {
    color: inherit;
    font-family: inherit;
    text-rendering: optimizelegibility;
}

h1 {
	text-align: left;
	font-size: 28px;
	line-height: 28px;
	font-weight: 400;
	margin: 0;
	margin-bottom: 12px;
	margin-top: -2px;
	color: rgb(247,200,25);
	text-shadow: 1px 0px 4px rgba(247,200,25,0.45);
}

h2 {
	font-size: 24px;
	line-height: 24px;
	margin-top: 0;
	margin-bottom: 4px;
	text-transform: uppercase;
	border-bottom: 1px solid black;
}

h2 .alt {
	color: gray;
}

h2 .unit {
	text-transform: none;
	font-weight: 200;
}

h2 sub {
	line-height: 0;
	font-size: 12px;
	vertical-align: baseline;
	position: relative;
	top: 0.3em;
}

h3 {
	font-size: 14px;
	line-height: 14px;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 4px;
	text-transform: uppercase;
	border-bottom: 1px solid black;
}

h3 .alt {
	color: gray;
}

h3 .unit {
	text-transform: none;
	font-weight: 200;
}

h3 sub {
	line-height: 0;
	font-size: 12px;
	vertical-align: baseline;
	position: relative;
	top: 0.3em;
}

img.header-logo {
	margin-top: -5px;
	margin-right: 10px;
	height: 36px;
	width: auto;
	float: left;
}

div.footer {
	position: absolute;
	top: 620px;
	left: 20px;
}

.literal {
	text-transform: none;
}

div.pane {
	background-color: rgba(100%,100%,100%,1);
	border-radius: 8px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
	padding: 4px 8px;
}

div.main div.pane {
	padding: 8px 12px;
}

a {
	color: inherit;
}

.clickable {
	cursor: pointer !important;
}

/* Main charts */

.charts {
	position: absolute;
	top: 60px;
	left: 10px;
	width: 804px;
}

.charts > .pane {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 788px;
}

.charts > .pane > .actions {
	float: right;
	margin-top: none;
	text-align: center;
	font-size: 18px;
}

.charts > .pane > .actions .fa + .fa {
	margin-left: 12px;
}

.charts > .pane > .actions .fa {
	color: black;
}

.charts > .pane > .actions .fa-compress,
.charts > .pane > .actions .fa-expand {
	-webkit-transform: rotate(45deg); 
}

.charts > .pane > .actions .fa.disabled {
	color: #ccc;
}

/* Readings column */

.readings {
	position: absolute;
	top: 60px;
	left: 824px;
	width: 190px;
}

.readings > .pane + .pane {
	margin-top: 12px;
}

.readings .unit {
	color: #666;
	font-weight: 200;
}

.readings .pane div + h3 {
	margin-top: 1em;
}

/* Source labels */

#source-labels a:visited {
	color: inherit;
}

#source-labels table {
	border-collapse: separate;
	border-spacing: 4px;
	margin-left: -4px;
}

#source-labels td.swatch {
	margin: 2px;
	width: 10px;
	height: 10px;
}

#source-labels td.desc {
	font-size: 10px;
	line-height: 10px;
	margin: 2px;
}

svg {
	/*background-color: rgb(242,242,242);*/
}

.chart {
	font-size: 10px;
}

.crisp {
	shape-rendering: crispEdges;
}

.chart rect {
	fill-opacity: 0.8;
}

.chart text {
	fill: #333;
}

.chart g.ticks text {
	text-anchor: middle;
}

.chart g.ticks text.agg {
	fill: black;
	font-weight: bold;
}

.chart g.ticks text.agg.neg {
	fill: #DF3038;
}

.chart g.agg-gen text {
	text-anchor: middle;
	font-weight: bold;
	fill: #1B7D30;
}

.chart g.rule,
.chart g.vertrule {
	shape-rendering: crispEdges;
}

.chart g.rule line,
.chart g.vertrule line {
	stroke: black;
	opacity: 0.1;
}

.chart g.vertrule line {
	opacity: 0.05;
	stroke-dasharray: 2 1;
}

.chart g.rule line.origin,
.chart g.vertrule line.origin {
	stroke: black !important;
	opacity: 1 !important;
}

.chart g.rule text {
	text-anchor: end;
	alignment-baseline: middle;
}

.chart g.agg-band line {
	stroke: black;
	stroke-width: 15px;
}

.chart g.agg-band-ticks text {
	fill: white;
	text-anchor: middle;
	font-weight: bold;
}

.chart g.agg-sum path {
	stroke-width: 1px;
	stroke: #C42F2F;
	fill: none;
}

.chart .off {
	display: none;
}

.chart path.area {
	fill-opacity: 1;
}

.chart path.line {
  fill: none;
}

.chart line.axis {
	stroke: black;
}

/* Total Power Gauge */

#total-power-gauge g.pointer {
	fill: #e85116;
	stroke: #b64011;
	stroke-width: 1px;
}

#total-power-gauge g.label text {
	text-anchor: middle;
	font-size: 10px;
	font-weight: bold;
	fill: #666;
}

.readings .infobar {
	font-size: 14px;
	line-height: 16px;
	text-align: center;
}

.readings .infobar .value {
	font-weight: 600;
}

/* Flip counters */

.flipCounter {
	height: 28px;
}

.flipCounter .flipper {
	width: 19px;
	height: 22px;
}

.flipper .face {
	border-radius: 4px;
	width: 19px;
	height: 22px;
}

.readings .flipCounter .flipper .value {
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	text-align: center;
	width: 19px;
	height: 22px;
}

/* Animation */

@-webkit-keyframes chart-out {
	0% {
  		-webkit-transform: none; 
	}
	30% { 
		-webkit-transform: scale(0.95) translateX(10px); 
	}
	100% { 
		-webkit-transform: scale(0.95) translateX(-1000px);
	}
}

@-moz-keyframes chart-out {
	0% {
  		-moz-transform: none; 
	}
	30% { 
		-moz-transform: scale(0.95) translateX(10px); 
	}
	100% { 
		-moz-transform: scale(0.95) translateX(-1000px);
	}
}

@-o-keyframes chart-out {
	0% {
  		-o-transform: none; 
	}
	30% { 
		-o-transform: scale(0.95) translateX(10px); 
	}
	100% { 
		-o-transform: scale(0.95) translateX(-1000px);
	}
}

@keyframes chart-out {
	0% {
  		transform: none; 
	}
	30% { 
		transform: scale(0.95) translateX(10px); 
	}
	100% { 
		transform: scale(0.95) translateX(-1000px);
	}
}

@-webkit-keyframes chart-in {
	0% {
  		-webkit-transform: scale(1.05) translateX(-1000px);
	}
	90% {
		-webkit-transform: scale(1.05); 
	}
	100% { 
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes chart-in {
	0% {
  		-moz-transform: scale(1.05) translateX(-1000px);
	}
	90% {
		-moz-transform: scale(1.05); 
	}
	100% { 
		-moz-transform: scale(1);
	}
}

@-o-keyframes chart-in {
	0% {
  		-o-transform: scale(1.05) translateX(-1000px);
	}
	90% {
		-o-transform: scale(1.05); 
	}
	100% { 
		-o-transform: scale(1);
	}
}

@keyframes chart-in {
	0% {
  		transform: scale(1.05) translateX(-1000px);
	}
	90% {
		transform: scale(1.05); 
	}
	100% { 
		transform: scale(1);
	}
}

.charts > .pane {
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-duration: 1.5s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-fill-mode: forwards;
	-o-animation-duration: 1.5s;
	-o-animation-iteration-count: 1;
	-o-animation-timing-function: ease-in-out;
	-o-animation-fill-mode: forwards;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}


.chart-in {
	-webkit-animation-name: chart-in;
	-moz-animation-name: chart-in;
	-o-animation-name: chart-in;
	animation-name: chart-in;
	z-index: 10;
}

.chart-out {
	-webkit-animation-name: chart-out;
	-moz-animation-name: chart-out;
	-o-animation-name: chart-out;
	animation-name: chart-out;
	z-index: 0;
}

.chart-waiting {
	-webkit-transform: translateX(-1000px);
	-moz-transform: translateX(-1000px);
	-o-transform: translateX(-1000px);
	transform: translateX(-1000px);
}
