html {
	background-color: rgba(34,175,176,1.0);
	background: -webkit-linear-gradient(top, rgba(104,144,173,1) 0%,rgba(102,126,153,1) 100%) no-repeat center center fixed; 
	background: -moz-linear-gradient(top, rgba(104,144,173,1) 0%,rgba(102,126,153,1) 100%) no-repeat center center fixed; 
	background: -o-linear-gradient(top, rgba(104,144,173,1) 0%,rgba(102,126,153,1) 100%) no-repeat center center fixed; 
	background: linear-gradient(to bottom, rgba(104,144,173,1) 0%,rgba(102,126,153,1) 100%) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	font-family:  "DejaVu Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 10px;
	background: none;
	padding: none;
}

h1, h2, h3 {
    color: inherit;
    font-family: inherit;
    text-rendering: optimizelegibility;
}

h1 {
	text-align: center;
	font-size: 28px;
	line-height: 28px;
	font-weight: 400;
	margin: 24px 0;
	color: rgb(247,200,25);
	text-shadow: 1px 0px 4px rgba(247,200,25,0.45);
}

h2 {
	font-size: 24px;
	line-height: 24px;
	margin-top: 0;
	margin-bottom: 4px;
	text-transform: uppercase;
	border-bottom: 1px solid black;
}

h2 .alt {
	color: gray;
}

h2 .unit {
	text-transform: none;
	font-weight: 200;
}

h2 sub {
	line-height: 0;
	font-size: 12px;
	vertical-align: baseline;
	position: relative;
	top: 0.3em;
}

h3 {
	font-size: 14px;
	line-height: 14px;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 4px;
	text-transform: uppercase;
}

h3 .alt {
	color: gray;
}

h3 .unit {
	text-transform: none;
	font-weight: 200;
}

h3 sub {
	line-height: 0;
	font-size: 10px;
	vertical-align: baseline;
	position: relative;
	top: 2px;
}

.literal {
	text-transform: none;
}

.clickable {
	cursor: pointer !important;
}

/* Structural */

.snroot {
	position: relative;
	width : 530px;
	background-color: white;
	border-radius: 8px;
	padding: 10px;
	box-sizing: content-box;
	margin-left: auto;
	margin-right: auto;
}

.snroot div.hbox {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	display: -moz-box;
	-moz-box-orient: horizontal;
	display: flex;
	flex-direction: row;
}

.snroot .pie-chart {
	width: 250px;
}

.snroot .info-col {
	margin-top: 24px;
}

.snroot .info-col .pane + .pane {
	margin-top: 12px;
}

.snroot .msg {
	display: none;
	color: #aaa;
	font-size: 10px;
	font-style: italic;
	margin-top: 12px;
}

/* Tooltip support */

.tooltip {
	position: absolute;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
	background-color: #fdfdfd;
	-webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.65);
	-moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.65);
	box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.65);
}

.tooltip h3 {
	font-size: 10px;
	font-weight: 700;
	margin: 0 0 4px 0;
	white-space: nowrap;
}

.tooltip table {
	border-collapse: separate;
	width: 100%;
}

.tooltip td.swatch {
	width: 10px;
	height: 10px;
}

.tooltip td {
	font-size: 10px;
	line-height: 10px;
	text-align: right;
	margin: 2px;
	white-space: nowrap;
	border-bottom: 2px solid #fdfdfd;
}

.tooltip td.desc {
	padding-left: 8px;
}

.tooltip td.co2 {
	padding-left: 8px;
}

.tooltip .subtotal td {
	border-top: 1px dotted #ccc;
	padding-bottom: 4px;
	font-style: italic;
}

.tooltip .total td {
	font-weight: 700;
	padding-top: 4px;
}

/* Tooltip total rows are not shown currently */

.tooltip tr.total {
	display: none;
}

/* Base chart elements */

.chart {
	font-size: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.crisp {
	shape-rendering: crispEdges;
}

.chart rect {
	fill-opacity: 0.8;
}

.chart text {
	fill: #333;
}

.chart g.ticks text {
	text-anchor: middle;
}

.chart g.ticks text.agg {
	fill: black;
	font-weight: bold;
}

.chart g.ticks text.agg.neg {
	fill: #DF3038;
}

.chart g.agg text,
.chart g.ticks text.major {
	font-weight: 600;
}

.chart g.agg-gen text {
	text-anchor: middle;
	font-weight: bold;
	fill: #1B7D30;
}

.chart g.rule,
.chart g.vertrule {
	shape-rendering: crispEdges;
}

.chart g.rule line,
.chart g.vertrule line {
	stroke: black;
	opacity: 0.1;
}

.chart g.vertrule line {
	opacity: 0.05;
	stroke-dasharray: 2 1;
}

.chart g.rule line.origin,
.chart g.vertrule line.origin {
	stroke: black !important;
	opacity: 1 !important;
}

.chart g.rule text {
	text-anchor: end;
	alignment-baseline: middle;
}

.chart g.agg-band line {
	stroke: black;
	stroke-width: 15px;
}

.chart g.agg-band-ticks text {
	fill: white;
	text-anchor: middle;
	font-weight: bold;
}

.chart g.agg-sum path {
	stroke-width: 1px;
	stroke: #C42F2F;
	fill: none;
}

.chart .off {
	display: none;
}

.chart path.area {
	fill-opacity: 1;
}

.chart path.line {
  fill: none;
}

.chart line.axis {
	stroke: black;
}

.chart rect.highlightbar {
	stroke: none;
	fill: rgba(255, 238, 71, 0.5);
}

.chart rect.selectionbar {
	stroke: none;
	fill: rgba(232, 113, 113, 0.3);
}

/* Flip counters */

.flipCounter {
	height: 28px;
}

.flipCounter .flipper {
	width: 19px;
	height: 22px;
}

.flipper .face {
	border-radius: 4px;
	width: 19px;
	height: 22px;
}

.flipCounter .flipper .value {
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	text-align: center;
	width: 19px;
	height: 22px;
}
